// Colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Font Sizes
$font-sm: 1.4rem;
$font-md: 1.8rem;
$font-lg: 2rem;
$font-xlg: 5.5rem;

$font-ws: 300;
$font-wn: 400;
$font-wb: 700;
